{
  "plugins": ["jest"],
  "extends": "standard",
  "env": {
    "jest/globals": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "prefer-const": ["error"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
      }
    ]
  }
}
